<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ArtDBConnStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ArtDB.mdf;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
	  <customErrors mode="Off" defaultRedirect="~/Error/404.aspx">
		  <error statusCode="404" redirect="~/Error/404.aspx" />
	  </customErrors>
	  <authentication mode="Forms" >
		  <forms loginUrl="login.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="20" >
		  </forms>
	  </authentication>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	  <roleManager enabled="true" defaultProvider="SqlRoleManager">
		  <providers>
			  <clear/>
			  <add name="SqlRoleManager"
				   type="System.Web.Security.SqlRoleProvider"
				   connectionStringName="ArtDBConnStr"/>
		  </providers>
	  </roleManager>
	<membership>
	  <providers>
		<clear/>
		<add name="AspNetSqlMembershipProvider"
           type="System.Web.Security.SqlMembershipProvider"
           connectionStringName="ArtDBConnStr"
           enablePasswordRetrieval="false"
           enablePasswordReset="true"
           requiresQuestionAndAnswer="true"
           requiresUniqueEmail="true"
           minRequiredPasswordLength="5"
           minRequiredNonalphanumericCharacters="0"
           passwordFormat="Hashed" />
	  </providers>
	</membership>
  </system.web>
	<location path="Customer/register.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Customer">
		<system.web>
			<authorization>
				<deny roles="Artist" users="?"/>
				<allow roles="Customer"/>
			</authorization>
		</system.web>
	</location>
	<location path="Artist/register.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="login.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Artist">
		<system.web>
			<authorization>
				<deny roles="Customer" users="?"/>
				<allow roles="Artist"/>
			</authorization>
		</system.web>
	</location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>